@media only screen and (max-width: 576px) {
    .hamburger-icon {
        display: block;
        height: 120px;
    }
    
    .menu-button:checked~.navbar-right {
        display: block;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(0);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        transition: 0.2s linear;
    }

    .navbar-right {
        position: absolute;
        transform: translateY(-100%);
    }

    .hero {
        padding-left: 30px;
        padding-right: 30px
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .hero-buttons button {
        width: 100%;
    }

    .image-div img {
        width: 700px;
    }

    .class-description {
        width: 50%;
    }

    .class-buttons {
        gap: 25px;
    }

    .class-buttons button {
        height: 50px;
        width: 200px;
    }


    .client-reviews {
        gap: 150px;
    }
    .footer {
        padding-left: 30px;
        padding-right: 30px;
    }

}